.attachments-conteiner{

.attachment-icon{
    padding-right: em(5px);
    padding-top: em(1px);
    font-family: trellicons;
    font-size: em(22px);
    &::before {
      content: '\e908';
    }
}
img{
    max-width: 60px;
}

}