.board-header{

    display: flex;
    justify-content: space-between;
    background-color: $clr8;
    color:$clr1;
  
    
    
    .board-info{
        display: flex;
        align-items: center;

        .star-icon {
            background-color: rgba(255, 255, 255, 0.5);
            width: fit-content;
            font-weight: 400;
            font-size: em(14px);
            // line-height: lh(25px);
            padding: 0 em(4px);
            margin: em(10px);
            border-radius: em(2px);
            text-align: center;
            color: $clr6;
            margin-right: 0.5em;
            font-family: trellicons;
            font-size: em(24px);
            &::before {
              content: '\e966';
            //   \e966
            // '\e967'
            }
            &:hover {
                color: #f2d600;
                background-color: rgba(255, 255, 255, 0.37);
                border-radius: 0.2rem;
                cursor: pointer;
        
            }
        }

            .full-star-icon {
                background-color: rgba(255, 255, 255, 0.37);
                width: fit-content;
                font-weight: 400;
                font-size: em(14px);
                // line-height: lh(25px);
                padding: 0 em(4px);
                margin: em(10px);
                border-radius: em(2px);
                text-align: center;
                color:  #f2d600;;
                margin-right: 0.5em;
                font-family: trellicons;
                font-size: em(24px);
                &::before {
                  content: '\e967';
                }
                &:hover {
                    font-family: trellicons;
                    &::before {
                        content: '\e966';
                      }

                    // content: '\e966';
                    cursor: pointer;      
                }
            

          }

        input {
            color: $clr1;
            outline: none;
            border: none;
            background-color: transparent;
            width: fit-content;
            font-weight: 600;
            font-size: em(18px);
            line-height: lh(25px);
            padding:  em(5px) 0;
            margin-left: 5px;
            border-radius: em(3px);
            text-align: center;
    
            &:hover {
                background-color: rgba(255, 255, 255, 0.37);
                border-radius: 0.2rem;
                cursor: pointer;
        
            }
        }
    
        h5 {
            color: $clr1;
            background-color: rgba(255, 255, 255, 0.5);
            width: fit-content;
            font-weight: 400;
            font-size: em(14px);
            line-height: lh(25px);
            padding: em(10px) em(12px);
            margin: em(10px);
            border-radius: em(3px);
            text-align: center;
    
            &:hover {
                background-color: rgba(255, 255, 255, 0.37);
                border-radius: 0.2rem;
                cursor: pointer;
        
            }

        }
        .members {
            width:fit-content;
            height: fit-content;
            

            img{
                width: 28px;
                height: 28px;
                border-radius: 50%;
                // transform: translateX(-20px);
            }
            // flex-direction: row;
        }
    
        
    }
    
}

.board-header-buttons{
    padding: 9px;
    display: flex;

    .board-header-btn{
        color: $clr1;
        background-color: rgba(255, 255, 255, 0.5);
        width: fit-content;
        font-weight: 500;
        letter-spacing: 0.5px;
        font-size: em(14px);
        // line-height: lh(25px);
        padding: em(0px) em(24px);
        margin: em(4px);
        border-radius: em(3px);
        border: none;
        text-align: center;

        &:hover {
            background-color: rgba(255, 255, 255, 0.37);
            border-radius: 0.2rem;
            cursor: pointer;

        }

        .menu-icon {
            padding-right:em(5px) ;
            font-family: trellicons;
            font-size: em(24px);
            &::before {
                content: "\e952";
              }
        }

        .filter-icon{
            padding-right:em(5px) ;
        }
       
    }

    
}