.board-list {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.workspace-logo {
  margin-top: 15rem;

  .workspace-icon {
    margin-right: 0.5rem;
  }
}
