.board-details {
  position: relative;
  // background-image: url(https://images.pexels.com/photos/460621/pexels-photo-460621.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: cover;
  background-repeat: no-repeat;
  height: 97vh;
}

.add-new-group-btn-warp {
  width: 272px;
  background-color: #ffffff00;
  border-radius: 3px;
  max-height: calc(100vh - 200px);

  .add-new-group-btn {
    margin-inline-start: 3px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0784313725490196);
    padding: 10px 10px;
    min-height: 38px;
    border-radius: 3px;
    align-items: center;
    margin-top: 8px;
    &:hover {
      background-color: rgba(251, 248, 248, 0.193);
    }
  }
  .new-group-add-modal {
    background-color: #ebecf06f;
    border-radius: 3px;
    padding: 3px;

    .cancel-add-group {
      color: black;
      font-family: trellicons;
      font-size: em(24px);
      &::before {
        content: '\e91c';
      }
      font-size: 25px;
      padding-inline-start: em(4px);
    }
  }
}
