.board-preview {
  background-position: 50%;
  background-size: cover;
  line-height: lh(20px);
  height: em(100px);
  width: em(195px);
  position: relative;
  margin-inline-start: 1rem;
  margin-block-end: 1.5rem;
  display: flex;
  cursor: pointer;
  transition: filter 0.3s;
  border-radius: 3px;
  &:hover {
    filter: brightness(0.9);
    .non-star-icon {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  .board-preview-board-title {
    position: absolute;
    left: em(8px);
    top: em(9px);
    color: white;
    font-size: em(16px);
    font-weight: 700;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.72);
  }

  .non-star-icon {
    font-family: trellicons;
    color: transparent;
    transition: color 0.1s;
    font-weight: 300;
    font-size: em(17px);
    position: absolute;
    right: em(11px);
    color: white;
    bottom: em(5px);
    transform: translateX(50%);
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s;

    &:hover {
      color: #f2d600;
    }

    &::before {
      content: '\e966';
    }
  }

  .full-star-icon {
    position: absolute;
    right: em(5px);
    bottom: em(5px);
    color: #f2d600;
    font-weight: 300;
    font-size: em(20px);
    font-family: trellicons;
    &::before {
      content: '\e967';
    }
    &:hover {
      &::before {
        content: '\e966';
      }
    }
  }
}

.starred-boards {
  margin-top: em(80px);
  .starred-boards-header {
    margin: 0 0 em(4px) em(22px);
    .full-star-icon {
      margin-right: em(2px);
      font-size: em(15px);
      font-family: trellicons;
      &::before {
        color: #f2d600;
        content: '\e967';
      }
    }
  }
  .no-starred-boards-text {
    color: #5e6c84;
    margin-inline-start: 1.2rem;
  }

  h3 {
    display: inline-block;
    // margin-bottom: em(5px);
    font-family: NunitoSans-Bold;
    color: #5e6c84;
    font-size: em(16px);
    margin: 0px 10px 5px 2.5px;
  }

  .full-star-icon {
    margin-right: em(2px);
    margin-top: 5px;
    font-size: em(15px);
    font-family: trellicons;
    &::before {
      color: #f2d600;
      content: '\e967';
    }
  }

  h5 {
    font-size: em(16px);
  }
}

.work-space-logo-container {
  display: flex;
  align-items: center;
  margin: 0 0 em(4px) em(24px);

  .workspace-header {
    display: inline-block;
    font-family: NunitoSans-Bold;
    color: #5e6c84;
    font-size: em(16px);
  }
  h3.workspace-logo {
    margin: 0 em(1px) 0 0;
    // margin-left: em(30px);
    // margin-bottom: em(8px);
    font-size: em(25px);
    color: #5e6c84;

    @include for-mobile-layout {
      margin-inline-end: 50px;
    }

    .workspace-icon {
      margin-right: em(5px);
      margin-bottom: em(2px);
      font-size: em(12px);
    }
  }
}
