//.board-header-btn
//in _board-header.scss

.board-menu {
  color: $clr1;
  background-color: $clr6;
  height: 96vh;
  width: 360px;
  position: absolute;
  z-index: 30;
  right: 0;
  top: 0;
  overflow-y: auto;
  padding: 3px;
  border-bottom-left-radius: 10px;

  .menu-title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: em(16px);
    font-weight: 600;
    border-bottom: 1px solid lightgray;
  }

  .close-icon {
    font-weight: 400;
    position: absolute;
    right: em(14px);
    top: em(8px);
    font-family: trellicons;
    font-size: em(20px);
    &::before {
      content: '\e91c';
    }
    &:hover {
      cursor: pointer;
    }
  }

  .change-background {
    border-bottom: 1px solid lightgray;
    padding: em(10px) em(10px);
    display: flex;
    align-items: center;
    justify-items: flex-start;
    flex-direction: row;

    .change-background-hover {
      padding-left: em(10px);
      padding-bottom: 0;
      font-size: 14px;
      display: flex;
      justify-items: center;
      width: 100%;
      border-radius: 3px;
      transition: background-color 0.2s;
      &:hover {
        background-color: rgba(116, 111, 111, 0.082);
        cursor: pointer;
      }

      .change-background-contianer {
        padding-left: em(8px);
        display: inline-block;
        padding-top: 2px;
        font-size: em(18px);
        font-weight: 500;
        margin-bottom: 0;
      }

      img {
        // display: inline-block;
        width: 23px;
        height: 20px;
        border-radius: 4px;
      }

      .cover-icon {
        font-family: trellicons;
        font-size: em(22px);
        &::before {
          content: '\e914';
        }
      }
    }
  }

  .activity-header {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    position: relative;
    padding: 15px 0 15px 0;

    &:hover {
      background-color: rgba(116, 111, 111, 0.082);
    }

    .activity-header-text {
      display: flex;
      align-self: center;
      font-size: em(14px);
      font-weight: 700;
    }

    .activity-icon {
      margin-inline-start: em(23px);
      margin-inline-end: 0.6rem;
      font-weight: 400;
      font-family: trellicons;
      font-size: em(16px);
      &::before {
        content: '\e900';
      }
    }

    p {
      position: absolute;
      top: 12px;
      right: 5px;
      width: 33px;
      height: 24px;
      border-radius: 30px;
      background-color: lightgray;
      text-align: center;
    }
  }

  .activity-log {
    height: 60vh;
    color: #464f5f;

    .activity-list {
      display: flex;
      padding-bottom: em(15px);
      padding-left: em(10px);

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: em(0px) em(5px);
        color: transparent;
      }

      .active-user {
        background-color: rgb(28, 133, 28);
        color: rgb(236, 228, 228);
        border-radius: 50%;
        height: 32px;
        width: 32px;
        line-height: 32px;
        display: flex;
        justify-content: center;
        margin-inline-end: 4px;
        font-weight: 500;
        margin-inline-start: 4px;
      }

      .activity-details {
        font-family: $font;
        flex: 1;
        > *:not(.activity-created-at) {
          display: inline;
          font-size: em(16px);
        }

        .activity-task-title {
          text-decoration: underline;
          font-size: em(14px);
          font-weight: 500;
        }

        .activity-txt {
          border: none;
          font-size: em(13px);
          font-weight: 500;
        }

        .activity-member-name {
          font-weight: 700;
          margin-inline-start: 0.2rem;
          font-size: em(15px);
        }
        .activity-created-at {
          font-size: em(12px);
          color: #556176;
        }
      }
    }
  }
}

.board-menu::-webkit-scrollbar {
  height: em(8px);
  width: em(10px);
}

.board-menu::-webkit-scrollbar-track {
  background: #091e4214;
  border-radius: em(10px);
}

.board-menu::-webkit-scrollbar-thumb {
  background: #091e421f;
  border-radius: em(10px);
}

.board-cover-selection {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding-left: 8px;

  .color-box {
    width: 30%;
    height: 93px;
    margin: 5px;
    margin-bottom: 0;
    border-radius: 10px;
    background-color: rgb(53, 34, 10);
    display: inline-block;
    cursor: pointer;
  }

  img {
    width: 30%;
    height: 95px;
    // margin-left: 10px;
    // margin-top: 7px;
    // margin-bottom: 0;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(53, 34, 10);
    display: inline-block;
    cursor: pointer;
  }

  .seperator {
    border-bottom: 1px solid lightgray;
    margin: 15px 6px;
  }

  .close-cover-selection {
    font-weight: 400;
    position: absolute;
    left: 5px;
    top: 8px;
    font-family: trellicons;
    font-size: em(20px);
    &::before {
      content: '\e90a';
    }
    &:hover {
      cursor: pointer;
    }
  }
}
