//see also actins modal file

.date-picker {
  top: 202px;

  @include for-mobile-layout {
    top: em(10px);
  }

  .date-picker-container {
    display: flex;
    flex-direction: column;
    margin-top: -8px;
    padding: 5px;
    border: none;
    .dp__flex_display {
      display: inline-block;
    }
    .date-picker-btn-container {
      display: flex;
      flex-direction: column;
      padding: em(5px);
      .el-button {
        margin: em(5px);
      }
    }
  }
}
