.main-task-sidebar {
  width: em(200px);
  min-width: fit-content;
  margin-top: em(-18px);
  padding: em(1px) em(10px) em(1px) em(10px);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: relative;

  .main-task-header {
    margin-top: em(25px);
    font-size: em(12px);
    font-weight: 600;
    color: $clr12;
  }
  .archive-icon-container {
    display: flex;
    background-color: rgba(9, 30, 66, 0.0392156863);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 32px;
    margin-top: 3px;
    padding: 2px 12px;
    width: 174px;
    position: relative;
    transition: background-color 0.2s;
    &:hover {
      background-color: $clr10;
    }
    .archive-icon {
      padding-right: em(5px);
      padding-top: em(1px);
      font-family: trellicons;
      font-size: em(16px);
      &::before {
        content: '\e907';
      }
    }
  }

  .main-task-edit-btn {
    display: flex;
    background-color: $clr9;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 32px;
    margin-top: 3px;
    // padding-top: 1px;
    padding: 2px 12px;
    width: 174px;
    position: relative;
    transition: background-color 0.2s;

    &:hover {
      background-color: $clr10;
    }
    .members-icon {
      padding-right: em(5px);
      padding-top: em(1px);
      font-family: trellicons;
      font-size: em(16px);
      &::before {
        content: '\e946';
      }
    }
    .labels-icon {
      padding-right: em(5px);
      padding-top: em(1px);
      font-family: trellicons;
      font-size: em(16px);
      &::before {
        content: '\e93f';
      }
    }
    .checklist-icon {
      padding-right: em(5px);
      padding-top: em(1px);
      font-family: trellicons;
      font-size: em(16px);
      &::before {
        content: '\e91a';
      }
    }
    .dates-icon {
      padding-right: em(7px);
      padding-top: em(3px);
      font-family: trellicons;
      font-size: em(14px);
      &::before {
        content: '\e91b';
        margin-left: 2px;
      }
    }
    .attachment-icon {
      padding-right: em(5px);
      padding-top: em(1px);
      font-family: trellicons;
      font-size: em(16px);
      &::before {
        content: '\e908';
      }
    }

    .cover-icon {
      padding-right: em(5px);
      padding-top: em(1px);
      font-family: trellicons;
      font-size: em(16px);
      &::before {
        content: '\e914';
      }
    }
  }
}
