.group-container {
  display: flex;
  flex-direction: row;
}
.group-preview {
  height: 100%;
  width: em(274px);
  padding: em(5px) em(4px);
  margin: 8px 4px 10px 4px;
  color: black;
  background-color: #ebecf0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 24%);
  border-radius: 3px;
  white-space: normal;
  display: flex;
  flex-direction: column;
  transition: background-color 0.2s;
  .task-adding-conteiner {
    border-radius: 3px;
    color: #5e6c84;
    display: flex;
    flex: 1 0 auto;
    padding: 10px 8px;
    position: relative;
    text-decoration: none;
    .task-adding-btn {
      font-size: 14px;
      color: #6b778cd7;
      margin-block-start: em(3px);
      margin-inline-end: em(8px);
    }
    -webkit-user-select: none;
    user-select: none;
    // &:hover {
    //   background-color: #ebecf0;
    // }
  }
}

// .content-scroll{
//   // max-height: calc(100vh - 200px);
//   // height:400px;
//   max-height: calc(100vh - 240px);
//      overflow-y: auto;

// }
.group-header {
  justify-content: space-between;
  align-items: center;
  padding: 3px 7px 5px 7px;
  
}
.group-subject-header {
  width: 90%;
  input {
    font-family: NunitoSans-Bold;
    font-size: 15px;
    padding: 5px;
    font-weight: 600;
    color: $clr1;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    cursor: grab;

    &:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
    }
  }
}

.group-dots-options-box {
  // border-radius: 3px;
  // padding: 5px;
  .group-dots-options {
    cursor: pointer;
    color: #707885;

    font-family: trellicons;
    font-size: 1.29em;
    font-weight: 500;
    &::before {
      content: '\e952';
    }
    &:hover {
      background-color: lightgrey;
    }
  }
}

.new-task-container {
  .new-task-area {
    overflow-y: hidden;
    border: none;
    outline: none;
    border-radius: 3px;
    // background-color: #eaecf0;
    cursor: pointer;
    padding: 8px 12px;
    margin-left: 0.29rem;
    margin-top: 0.5rem;
    height: 65px;
    resize: none;
    font-family: NunitoSans-regular;
    font-size: 13px;
    min-height: 55px;
    width: 93%;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  }
  .cancel-add-task {
    font-family: trellicons;
    font-size: em(24px);
    margin-inline-start: em(4px);
    color: #6b778c;
    &::before {
      content: '\e91c';
    }
  }

  .new-task-add-remove-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .trello-add-btn {
      margin-block-start: em(-1px);
      margin-inline-start: em(4px);
    }
  }
}

.group-options-modal {
  width: 281px;
  background-color: rgba(255, 255, 255, 0.891);
  font-weight: 400;
  line-height: 40px;
  color: #172b4b;
  padding: 0 12px 12px;
  display: flex;
  position: absolute;
  z-index: 10;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
  .group-options-modal-header {
    margin-bottom: 8px;
    height: 40px;
    border-bottom: 1px solid rgba(9, 30, 66, 0.12941176470588237);
    position: relative;
    color: #5e6c84;
    padding: 0 12px 12px;
    display: flex;
    justify-content: center;
  }
  .group-options-modal-delete {
    display: flex;
    justify-content: center;
    &:hover {
      border-radius: 3px;
      background-color: rgba(211, 211, 211, 0.521);
    }
  }
}

.add-new-group-btn-warp {
  width: 290px;
  background-color: #ffffff00;
  border-radius: 3px;
  max-height: calc(100vh - 200px);
.task-adding-btn{
  margin-inline-end: 5px;
}
  .add-new-group-btn {
    margin-inline-start: 3px;
    color: rgb(21, 14, 14);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0784313725490196);
    padding: 10px 10px;
    min-height: 44px;
    border-radius: 3px;
    align-items: center;
    margin-top: 8px;
    &:hover {
      background-color: rgba(251, 248, 248, 0.193);
    }
  }
  .new-group-add-modal {
    background-color: #ebecf06f;
    border-radius: 3px;
    padding: 4px 4px 1px 4px;
    margin: 8px 0 0 4px;
    display: flex;
    flex-direction: column;

    .new-group-text-area {
      outline: 1px solid rgba(71, 71, 234, 0.95);

      padding: 6px;
      height: 33px;
      border-radius: 2px;
      box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
      margin: 2px 0 2px 0;
      font-family: $font;
    }
    .cancel-add-group {
      color: black;
      font-family: trellicons;
      font-size: em(24px);
      &::before {
        content: '\e91c';
      }
      font-size: 25px;
      padding-inline-start: em(4px);
    }

    // .new-group-add-remove-conteiner{

    //   }
  }
}
