.label-picker{
    position: absolute;
    // height: 470px;
    width: 320px;
    background-color: white;
    z-index: 20;
    top: 83px;
    cursor: default;

    h4 {
        text-align: center;
        padding: em(12px);
        margin: 0 em(12px);
        font-size: em(16px) ;
        font-weight: 400;
        border-bottom: 1px solid lightgray;
    }

    .close-icon{
               
        font-weight: 400;
        position: absolute;
        right:10px;
        top:10px;
        font-family: trellicons;
        font-size: em(18px);
        &::before {
            content: '\e91c';
          }
        &:hover{
            cursor: pointer;
        }
    }

    li {
        margin: em(6px) em(14px);
        height: 35px;
        border-radius: 3px;
        padding: 5px;
        padding-left: 15px;
        cursor: pointer;
        border-radius: 2px;
        
        input{
            border: none;
            background-color: transparent;
            font-weight: 500;
            color: white;
            font-size: em(15px);
            letter-spacing: 1.5;
            outline: none;
            width: fit-content;

            &:focus{
                border: none;
            }

        }

    }
}