//see also actins modal file

.label-picker{
    top: 83px;
        

    .label-picker-list {
        margin: em(6px) em(14px);
        height: 35px;
        border-radius: 3px;
        padding: 5px;
        padding-left: 15px;
        cursor: pointer;
        border-radius: 2px;
        
        input{
            border: none;
            background-color: transparent;
            font-weight: 500;
            color: white;
            font-size: em(15px);
            letter-spacing: 1.5;
            outline: none;
            width: fit-content;

            &:focus{
                border: none;
            }

        }

    }
}