//see also actins modal file

.label-picker {
  top: em(120px);

  .label-picker-header {
    color: #5e6c84;
    font-size: 0.8171428571rem;
    font-weight: 600;
    line-height: 16px;
    margin-top: 0.5rem;
    margin-inline-start: 1rem;
    font-size: 13px;
    margin-bottom: 10px;
  }

  .label-picker-list {
    // margin: em(6px) em(14px);
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
    // margin: 0 0 4px;
    min-height: 18px;
    padding: em(3px) em(12px);
    position: relative;
    transition: padding 85ms, margin 85ms, box-shadow 85ms;

    input {
      border: none;
      background-color: transparent;
      font-weight: 500;
      color: white;
      font-size: em(15px);
      letter-spacing: 1.5;
      outline: none;
      width: fit-content;

      &:focus {
        border: none;
      }
    }
  }
}
