.notifications {
  width: 300px;
  background-color: white;
  height: fit-content;
  position: fixed;
  right: 0;
  top: 48px;
  border-radius: 3px;
  overflow-y: auto;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.43);
  padding-bottom: em(10px);
  z-index: 50;

  @include for-mobile-layout {
    width: 95%;
    margin: 0px 10px 0px 10px;
  }

  h4 {
    text-align: center;
    padding: 10px;
    font-size: em(17px);
    font-weight: 600;
    border-bottom: 1px solid lightgray;
    color: $clr1;
  }

  h5 {
    margin: -7px 25px 10px 17px;
    font-size: em(15px);
    font-weight: 600;
    color: $clr1;
  }

  .close-icon {
    font-weight: 400;
    position: absolute;
    right: 10px;
    top: 6px;
    font-family: trellicons;
    font-size: em(20px);
    color: $clr1;
    cursor: pointer;
    &::before {
      content: '\e91c';
    }
  }

  .notification-details {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.134);
    width: 90%;
    margin: 10px auto;
    border-radius: 3px;
    padding: 10px;
    > * {
      display: inline;
      word-wrap: break-word;
      font-size: em(14px);
      padding: 0 em(1px) 0 em(3px);
      margin: 0;
      color: $clr1;
    }

    h3 {
      text-decoration: underline;
      cursor: pointer;
    }

    h4 {
      border: none;
    }

    h5 {
      font-weight: 700;
    }

    img {
      height: 70px;
      object-fit: cover;
      border-radius: 3px;
    }

    p {
      display: block;
      border-radius: 3px;
    }
  }

  .cover-color {
    display: block;
    height: 70px;
    width: 100%;
  }
}

.notification-btn {
  width: fit-content;
  border: none;
  color: $clr4;
  // margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  font-size: em(15px);
  justify-self: right;
  position: relative;
  border-radius: 3px;
  margin: 9px 10px 8px 10px;
  background-color: #eb5a46;
  cursor: pointer;

  @include for-mobile-layout {
    margin-inline-end: 1.5rem;
  }

  .new-notification {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: rgba(218, 165, 32, 0.742);
    font-size: 12px;
    padding: 3px 6px 3px 6px;
    border-radius: 50%;
    text-align: center;
    // display: flex;
    // justify-content: center;
    // align-content: center;
  }
}
