.task-prev-details-conteiner {
  padding: 10px;
  position: relative;
  .label-task-preview-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .label-task-preview {
      height: 9px;
      width: 50px;
      border-radius: 3px;
    }
    .label-task-preview-full {
      height: 20px;
      min-width: 85px;
      max-width: max-content;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: white;
    }
  }

  li {
    //  padding: 10px;
    margin: 0 5px 3px 0;
    padding: 0 5px 0 5px;
  }
  .prev-task-title {
    font-size: em(14px);

    display: flex;
    align-items: center;
  }

  .prev-task-desk-icon {
    font-family: trellicons;
    font-size: em(18px);
    &::before {
      content: "\e922";
    }
  }

  .prev-task-checklists-icon {
    font-family: trellicons;
    font-size: em(18px);
    &::before {
      content: "\e91a"
      ;
    }
  }

  .prev-dueDate{
    // background-color: aqua;
  }

  .prev-members-imgs {
    flex: 1 1;
    justify-content: flex-end;
    ul {
      float: right;
    }
    .prev-member-img {
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }
  }
}
