.task-prev-details-conteiner {
  padding: 5px 10px 5px 10px;

  // position: relative;
  .label-task-preview-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -6px;

    .label-task-preview {
<<<<<<< HEAD
      border-radius: em(10px);
      font-size: em(12px);
      font-weight: 700;
      height: 8px;
      line-height: 100px;
      margin: 0 4px 4px 0;
      max-width: 40px;
      min-width: 40px;
      padding: 0;
      text-shadow: none;
      width: auto;
=======
      height: 8px;
      width: 40px;
      border-radius: 3px;
>>>>>>> 41dcff26f4e65514452177629985382d8d56cea3
    }
    .label-task-preview-full {
      height: 20px;
      min-width: 85px;
      max-width: max-content;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: white;
    }
  }

  li {
    //  padding: 10px;
    margin: 0 5px 3px 0;
    padding: 0 5px 0 5px;
  }
  .prev-task-title {
    font-size: em(14px);
    color: $clr1;
    color: #162c52;
    display: flex;
    align-items: center;
    margin-top: em(7px);
  }
  .prev-fetchers-conteiner {
    align-items: center;
    color: #6b778c;

    .prev-task-desk-icon {
      margin-bottom: 6px;
      padding-inline-end: 10px;
      font-family: trellicons;
      font-size: em(16px);
      &::before {
        content: '\e922';
      }
    }
    .prev-task-attachments-conteiner {
      display: flex;
      justify-content: center;
      margin-bottom: 7px;
      padding-inline-end: 10px;

      // align-content: center;
      .prev-task-attachments-icon {
        font-family: trellicons;
        padding-inline-end: 3px;
        font-size: em(16px);
        &::before {
          content: '\e908';
        }
      }
      .prev-task-attachments-count {
        padding-bottom: 0px;
      }
    }
    .prev-duedate-conteiner {
      // background-color: #61bd4f;
      color: #5e6c84;
      // display: inline-block;
      margin: 0 4px 4px 0;
      max-width: 100%;
      min-height: 20px;
      overflow: hidden;
      padding: 2px;
      font-size: 15.5px;
      align-items: center;
      border-radius: 3px;
      padding: 0 3px 0 3px;
      margin-inline-end: 8px;
      margin-bottom: 6px;
      .prev-dueDate {
        font-size: em(12px);
        width: auto;
        color: white;
        border-radius: 3px;
      }

      .prev-dueDate-clock-icon {
        font-family: trellicons;
        color: white;
        padding-inline-end: 3px;
        font-size: em(16px);
        &::before {
          content: '\e91b';
        }
      }
    }
    .prev-task-comments {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline-end: em(6px);
      margin-bottom: em(8px);

      .prev-task-comments-icon {
        font-family: trellicons;
        font-size: em(16px);
        padding-inline-end: em(3px);
        &::before {
          content: '\e91e';
        }
      }
      .prev-task-comments-count {
        font-size: 13px;
        margin-bottom: em(1px);
      }
    }
    .prev-task-checklists {
      margin: 1px 4px 4px 0;
      max-width: 100%;
      min-height: 20px;
      overflow: hidden;
      padding: 2px;
      font-size: 15.5px;
      align-items: center;
      border-radius: 3px;
      padding: 0 5px 0 3px;
      margin-inline-end: 8px;
      margin-bottom: 6px;
      display: flex;
      flex-direction: row;
      .prev-task-checklists-icon {
        font-family: trellicons;
        font-size: em(16px);
        padding-inline-end: em(3px);
        padding-block-start: em(0.5px);
        &::before {
          content: '\e91a';
        }
      }
      .prev-task-checklists-count {
        font-size: em(12px);
      }

      &.done {
        background-color: red;
      }
    }
    .prev-members-imgs {
      flex: 1 1;
      justify-content: flex-end;
      ul {
        float: right;
      }
      .prev-member-img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin-left: 5px;
      }
    }
  }
}
