.task-prev-details-conteiner {
  padding: 10px;

  // position: relative;
  .label-task-preview-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .label-task-preview {
      height: 9px;
      width: 50px;
      border-radius: 3px;
    }
    .label-task-preview-full {
      height: 20px;
      min-width: 85px;
      max-width: max-content;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: white;
    }
  }

  li {
    //  padding: 10px;
    margin: 0 5px 3px 0;
    padding: 0 5px 0 5px;
  }
  .prev-task-title {
    font-size: em(16px);
    color: $clr1;
    display: flex;
    align-items: center;
  }
  .prev-fetchers-conteiner {
    align-items: center;

    .prev-task-desk-icon {
      //   margin-inline-end: 6px;
      margin-bottom: 6px;

      padding-inline-end: 10px;
      font-family: trellicons;
      font-size: em(16px);
      &::before {
        content: '\e922';
      }
    }
    .prev-task-attachments-conteiner {
      display: flex;
      justify-content: center;
      margin-bottom: 7px;
      padding-inline-end: 10px;

      // align-content: center;
      .prev-task-attachments-icon {
        font-family: trellicons;
        padding-inline-end: 3px;
        font-size: em(16px);
        &::before {
          content: '\e908';
        }
      }
      .prev-task-attachments-count {
        padding-bottom: 0px;
      }
    }
    .prev-dueDate-conteiner {
      // background-color: #61bd4f;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      padding: 0 3px 0 3px;
      margin-inline-end: 10px;
      margin-bottom: 6px;
      .prev-dueDate {
        font-size: em(12px);
        width: auto;
        color: white;
        border-radius: 3px;
      }

      .prev-dueDate-clock-icon {
        font-family: trellicons;
        color: white;
        padding-inline-end: 3px;
        font-size: em(16px);
        &::before {
          content: '\e91b';
        }
      }
    }
    .prev-task-comments {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1px 3px 0px 1px;
      padding-inline-end: 10px;
      margin-bottom: 9px;

      .prev-task-comments-icon {
        font-family: trellicons;
        font-size: em(18px);
        &::before {
          content: '\e91e';
          padding-inline-end: 3px;
        }
      }
    }
    .prev-task-checklists {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      padding: 1px 3px 0px 1px;
      padding-inline-end: 10px;
      margin-bottom: 6px;
      .prev-task-checklists-icon {
        font-family: trellicons;
        font-size: em(18px);
        &::before {
          content: '\e91a';
          padding-inline-end: 3px;
        }
      }
      .prev-task-checklists-count {
        font-size: em(15px);
      }

      &.done {
        background-color: red;
      }
    }
    .prev-members-imgs {
      flex: 1 1;
      justify-content: flex-end;
      ul {
        float: right;
      }
      .prev-member-img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
      }
    }
  }
}
