.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.board-app {
  .boards-container {
    height: 100vh;
    margin-inline-start: 28%;
    margin-inline-end: 28%;

    @include for-mobile-layout {
      margin: em(37px);
    }
  }
}
