.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.board-app {
  overflow-y: auto;
  .boards-container {
    height: 100vh;
    margin-inline-start: 28%;
    margin-inline-end: 28%;

    @include for-mobile-layout {
      display: flex;
      flex-direction: column;
      margin: 0 em(50px);
    }
  }
}
