.home-page-main {
  background: linear-gradient(rgb(234, 230, 255), rgb(255, 255, 255));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 12% 15% 15% 15%;

  @include for-mobile-layout {
    height: 90vh;
  }

  .home-page-info {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-inline-start: 5rem;
    @include for-mobile-layout {
      margin-inline-start: 0;
      margin: em(65px) em(25px) em(25px) em(5px);
    }

    h1 {
      color: rgba(0, 0, 0, 0.912);
      font-size: em(55px);
      line-height: lh(18px);
      font-family: NunitoSans-Bold;
      @include for-mobile-layout {
        font-size: em(20px);
        word-wrap: break-word;
      }
    }

    h3 {
      color: black;
      font-weight: 500;
      font-size: em(20px);

      font-family: NunitoSans-regular;
      @include for-mobile-layout {
        font-size: em(15px);
        word-wrap: break-word;
      }
    }
  }

  img {
    width: 30%;
    @include for-mobile-layout {
      width: 65%;
    }
  }

  button {
    width: em(200px);
    align-self: flex-start;
    margin-top: em(25px);
    background-color: rgb(0, 101, 255);
    border: none;
    padding: em(15px);
    color: white;
    font-size: em(22px);
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: 0.8px;
    cursor: pointer;
    transition: background-color 0.1s;
    &:hover {
      background-color: rgb(7, 71, 166);
      border-color: rgb(7, 71, 166);
      text-decoration: none;
    }
    @include for-mobile-layout {
      font-size: em(17px);
      padding: em(10px);
      margin-top: em(15px);
    }
  }
}
