.task-edit{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 720px 1fr;
    align-self: center;

    .task-container{
        background-color:$clr6;
        grid-column: 2;


    }

    .task-edit-cover{
        height: 160px;
        overflow: hidden;
        display: flex;
        justify-content: center;

        img{
            height: 100%;
            width: fit-content;
            
        }
    }
    
    // position: fixed;
    // top: 50px;
    
    // >* {
    //     width:100%;
    //     color: $clr1;
    //     padding: 30px;
    // }


}