.task-edit{
    // display: flex;
    background-color: white;
    grid-template-columns: 1fr 920px 1fr;
    align-self: center;

    position: fixed;
    top: 50px;
    
    // >* {
      
    //     width:100%;
    //     color: $clr1;
    //     padding: 30px;
    // }


}