/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media screen and (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media screen and (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media screen and (min-width: $break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media screen and (min-width: $break-wide) {
    @content;
  }
}

@mixin layoutGTC($max) {
  grid-template-columns:
    minmax($layoutPadding, 1fr)
    minmax(auto, $max)
    minmax($layoutPadding, 1fr);
}

/* Media  Mixins */

//aspect ratio mixin
@mixin aspect-ratio($width: 1, $height: 1) {
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: calc(($height / $width) * 100%);
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  > img {
    height: 100%;
    object-fit: cover;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

// Buttons

@mixin outter-task-btn($type: bold) {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  background-color: $clr7;
  border: none;
  color: $clr1;
  border-radius: em(3px);
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;

  &:hover {
    background-color: #091e4214;
    color: $clr1;
  }
}

@mixin cancel-btn($type: bold) {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: em(3px);
  color: $clr1;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;

  &:hover {
    background-color: #091e4214;
    color: $clr1;
  }
}
@mixin confirm-btn($type: bold) {
  box-sizing: border-box;
  cursor: pointer;
  background-color: #0079bf;
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  padding: 6px 12px;
  text-decoration: none;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  white-space: normal;
  color: #fff;
  border: none;

  &:hover {
    background-color: #026aa7;
    // border: none;
    // box-shadow: none;
    color: #fff;
  }
}

// Type

@mixin type($type: bold) {
  // type options:
  // 1.bold
  // 2.boldCondensed
  // 3.condensed
  @if $type == bold {
    font-variation-settings: 'wght' 430;
  } @else if $type == boldCondensed {
    font-variation-settings: 'wght' 430, 'wdth' 80;
    letter-spacing: em(6.72px);
  } @else if $type == condensed {
    font-variation-settings: 'wdth' 80;
    letter-spacing: em(6.72px);
  } @else if $type == light {
    font-variation-settings: 'wght' 200;
  }
}
