// COLOR PALETTE
$clr1: #1d3557;
$clr2: #457b9d;
$clr3: #a8dadc;
$clr4: #f1faee;
$clr5: #e63946;
$clr6: whitesmoke;
$clr7: #091e420a;
$clr8: rgba(176, 176, 176, 0.88);
$clr9: #091e420a;
$clr10: rgba(209, 208, 208, 0.763);
$clr11: rgba(173, 173, 173, 0.763);
$clr12: #5e6c84;
$clr13: #091e4214;

//FONT
$font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 740px;
$break-normal: 960px;
$break-wide: 1200px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
