// COLOR PALETTE
$clr1: #1d3557;
$clr2: #457b9d;
$clr3: #a8dadc;
$clr4: #f1faee;
$clr5: #e63946;

//FONT
$font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 740px;
$break-normal: 960px;
$break-wide: 1200px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
